<%- include header.ejs %>

  <div class="row">
    <div class="col-md-12 order-md-1">
      <% if (messages.error) { %>
        <p style="color:red"><%- messages.error %></p>
      <% } %>

      <% if (messages.success) { %>
          <p style="color:green"><%- messages.success %></p>
      <% } %>
        <div class="py-1 text-center">
            <img class="d-block mx-auto mb-4" src="/images/icone_certifico_site.png" alt="" width="72" height="72">
            <h2>Cadastro de Instituição.</h2>
        </div>
    </div>
  </div>

    <div class="row">
        <div class="col-md-12 order-md-1">
            <form class="needs-validation" action="/instituicao" method="POST" novalidate>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="nome">Nome </label>
                        <input type="text" class="form-control" id="nome" name="nome" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                </div>
                <br>
                <button class="btn btn-primary btn-lg btn-block" type="submit" name="instituicao">Confirmar</button>
            </form>
        </div>
    </div>

<%- include footer.ejs %>
